html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#DDDDDD;
}

div, canvas{
    border: 1px black solid;
    
}
.grid-container>div{
    text-align: center;
    width: 100%;
    height: 100%;
    
    
}
#menu{
    display: flex;
    margin: 0;
    align-items: center;
    justify-items: center;
}
#menu>ul{
    margin: 0;
    padding: 0;
    display: flex;
    
}

