html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#DDDDDD;
}

div, canvas{
    border: 1px black solid;
    
}
.grid-container>div{
    text-align: center;
    width: 100%;
    height: 100%;
    
    
}
#menu{
    display: flex;
    margin: 0;
    align-items: center;
    justify-items: center;
}
#menu>ul{
    margin: 0;
    padding: 0;
    display: flex;
    
}
#transforms{
    display: flex;
    flex-direction: column;
    

}
#transforms_pieces{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    
    padding: 0;

}
#transforms_pieces>div{
    width: 160px;   
    margin: 5px;
    text-align: center;
    font-size: 200px;
    padding: 0;
    
}


